*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    font-family:'IBM Plex Serif', serif;
    height: 100%;
    background-image: url("../assets/img/background.png");
    background-size:cover;
}
/*header*/
header{
    display: flex;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}
.navigation-month{
    display: flex;
    justify-content: center;
    width: 20%;
}
h1{
    color:#8AA851;
    font-size: 80px;
    font-weight: 400;
}