html,body{
    padding: 0;
    margin: 0;
    font-family:'IBM Plex Serif', serif;
}
/*header*/
header{
    display: flex;
    height: 10%;
    justify-content: space-around;
    align-items: center;
}
.navigation-month{
    width: 20%;
}
h1{
    color:#8AA851;
}
/*main*/
.month{
    display:flex;
    flex-direction: column;
    width: 90%;
    margin: 3%;
}
.week{
    display: flex;
}
.week tbody{
    width: 100%;
}
.week tr{
    display: flex;
    justify-content: space-around;
}
.day-week{
    background-color: #A5BF76;
    color: #fff;
    display: flex;
    width: 14.28%;
    margin: 0 0.5% 0 0.5%;
    border-radius: 10px 10px 0 0;
    justify-content: center;
}