*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    font-family:'IBM Plex Serif', serif;
    height: 100%;
}
/*header*/
header{
    display: flex;
    height: 15%;
    justify-content: space-between;
    align-items: center;
}
.navigation-month{
    display: flex;
    justify-content: center;
    width: 20%;
}
h1{
    color:#8AA851;
}
/*main*/
    /*dias da semana*/
    .calendar{
        position: absolute;
        display:flex;
        align-items: center;
        flex-direction: column;
        width: 98%;
        height: 80%;
    }
    .month{
        display: flex;
        width: 80%;
        height: 100%;
    }
    .month tbody{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .month tr{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .week th{
        background-color: #A5BF76;
        color: #fff;
        display: flex;
        width: 12%;
        margin: 0 0.1% 0 0.1%;
        border-radius: 10px 10px 0 0;
        justify-content: center;
    }
    /*dias do mês*/
    .days-month{
        height: 18%;
    }
    .days-month td{ 
        display: flex;
        width: 12%;
        background-color: #C8D9A8;
        color: #fff;
        margin: 0.3% 0.1% 0.2% 0.1%;
    }
    /*aside*/
    .menu-tasks{
        display: flex;
        justify-content: center;
        position: relative;
        height: 85%;
        width: 2%;
        left: 98%;
    }
    .arrow-button{
        display: flex;
    }
    .arrow{
        width: 100%;
        height: 100%;
    }